bootstrap/*
.sass-cache/
*.css.map
node_modules/*
images/*
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*~
/bootstrap/compiled.php
/vendor
/build/logs
/build/coverage
/app/tests/_log
composer.phar
.DS_Store
/.idea
/_ide_helper.php
/app/config/packages

.env
/.bundle
/vendor/cache
/vendor/bundle
tmp/
test/screenshots/
test/dummy_rails/log/*.log
test/dummy_rails/public/assets/
.DS_Store