$bg-neutre : #84A583;
$dark-transparent : rgba(83, 77, 77, 0.56);
$dark-transparent : rgba(83, 77, 77, 0.664);
$brand-color : #FDCEA9;
$brand-100 :#fdc89f;
$red :#EA495F;
$sm : 576px;
$md: 768px;
$lg:992px;