
$md: 768px;
$lg:992px;

main{
.parallax {

  background: url(images/parallax.jpg)no-repeat;
  height: 500px;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  margin: 0;

@media(min-width: $md) {
    background: url(images/parallax-m.jpg);
    height: 600px;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0
  }

    @media(min-width: $lg) {
      background: url(./images/parallax-lg.jpg) 30% 70%;
      height: 600px;
      background-size: cover;
      background-attachment: fixed;
      padding: 0;
      margin: 0
  }  
  }
}