$bg-neutre : #84A583;
$dark-transparent : rgba(83, 77, 77, 0.56);
$brand-color : #FDCEA9;
$red :#EA495F;
$md: 768px;
$lg:992px;

%title-presentation{
  height: 250px;
  background: $brand-color;
  margin: 48px -48px 1em;
 }
 a {
   color : white ;
   text-decoration: none;
    margin: 10px;

 }
body{
  background: $bg-neutre;

}
.myNav{
  margin-bottom: -5px;
}
  .title{
  @extend %title-presentation;
  }

@mixin btn-radius{
  border-radius: 3rem;
}

.event{
  background: darken($brand-color,4%);
}
header{
  background: $dark-transparent;
  height: 90px;

.donation{
    background: $red;
    @include btn-radius;
  }
}
.brand{
  background: $brand-color;
}
.block{
  height: 250px;
}

main{
.parallax {
  background: url(images/parallax.jpg);
  height: 500px;
  background-attachment: fixed;
  h1{
    background: rgba(27, 26, 26,0.95);
  }
@media(min-width: $md) {
    background: url(images/parallax-md.jpg);
    height: 600px;
    background-size: cover;
    background-attachment: fixed;

  }

    @media(min-width: $lg) {
      background: url(./images/parallax-lg.jpg) 30% 95%;
      height: 600px;
      background-size: cover;
      background-attachment: fixed;
    }  
  }
}
.myAlert{
  background-color: $red;
  
  &:hover{
    background: darken($red, 4%);
  }
}
.foot{
  margin: 10px -48px -50px;
}
.foot-xs{
  margin : -10px -48px;
}